extends includes/layout

block append head

  script(src='vendor/head.load-1.0.3.min.js')

  script
    :coffee
      head.js app_bundle : "js/app.js?#{+new Date()}"
  
  // main loader
  script
    :coffee

      buidMountPoints = ->
        pointsList = ['header', 'section', 'footer']
        reduserFn = (acc, el) ->
          acc[el] = document.getElementById el
          acc

        _.reduce pointsList, reduserFn, {}

      head.ready "app_bundle", ->
        { App } = AppPackage

        # if DOM ready
        $ ->
          # пока просто передаем в App ссылки на элементы монтирования, больше тут ничего нет - страница - просто холст
          app = new App()
          app.setMountPoints buidMountPoints()
          # это потом будет хитрый роутер, пока так
          app.show 'index'


block page_content

  header#header
  section#section
  footer#footer
